# Encrypt everything in subdirectories by default
**/* filter=git-crypt diff=git-crypt

# Exclude files in root
/* !filter !diff

# Exclude docs and .gitfield folders
/docs/** !filter !diff
/.gitfield/** !filter !diff
/.well-known/** !filter !diff
